body{
	background: #35A9DB;
	font-family: roboto;
	text-align: center;
}
h1,h2{
	color: #fff;
}
.ketengah{
	margin: 10pxauto;
	width: 1150px;
}
.kotak1{
	background: lightgreen;
	padding: 20px;
	float: left;
	margin: 50px;
	width: 150px;
	height: 150px;
}
.kotak2{
	background: violet;
	padding: 20px;
	float: left;
	margin: 50px;
	width: 150px;
	height: 150px;
	-ms-transform: rotate(30deg); /* Support IE 9 */
	-webkit-transform:rotate(30deg); /* support Safari */
	transform:rotate(30deg); /* Standard syntax */
}
.kotak3{
	background: yellow;
	padding: 20px;
	float: left;
	margin: 50px;
	width: 150px;
	height: 150px;
	-ms-transform: rotate(90deg); /* Support IE 9 */
	-webkit-transform: rotate(90deg); /* support Safari */
	transform: rotate(90deg); /* Standard syntax */
}
.kotak4{
	background: red;
	padding: 20px;
	float: left;
	margin: 50px;
	width: 150px;
	height: 150px;
	-ms-transform: rotate(-60deg); /* Support IE 9 */
	-webkit-transform: rotate(-60deg); /* support Safari */
	transform: rotate(-60deg); /* Standard syntax */
}